Autores: Eric Heresi Medina & Alberto García Doménech

In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [26]:
nodos= pd.read_csv("nodos.csv")
nodos.sort_values('Degree', ascending = False).head(50)

        Id                 Label  timeset  Degree
1    10476   IRON MAN/TONY STARK      NaN    2189
40   10556       WOLVERINE/LOGAN      NaN    1984
35   10551       CAPTAIN AMERICA      NaN    1896
32   10541   SCARLET WITCH/WANDA      NaN    1883
42   10558                VISION      NaN    1765
55   10571   INVISIBLE WOMAN/SUE      NaN    1750
23   10532  SPIDER-MAN/PETER PAR      NaN    1730
26   10535   WASP/JANET VAN DYNE      NaN    1517
76   10638   DR. STRANGE/STEPHEN      NaN    1489
97   10679   PROFESSOR X/CHARLES      NaN    1471
54   10570  THING/BENJAMIN J. GR      NaN    1404
49   10565  MR. FANTASTIC/REED R      NaN    1368
111  10711   ICEMAN/ROBERT BOBBY      NaN    1354
117  10747  HUMAN TORCH/JOHNNY S      NaN    1349
160  10827         JARVIS, EDWIN      NaN    1303
72   10625  THOR/DR. DONALD BLAK      NaN    1281
257  11165   FURY, COL. NICHOLAS      NaN    1262
59   10575  BEAST/HENRY &HANK& P      NaN    1259
167  10844   BLACK WIDOW/NATASHA      NaN    1242
30   10539                  HAWK      NaN    1165
104  10698   WATSON-PARKER, MARY      NaN    1116
136  10769    HAVOK/ALEX SUMMERS      NaN    1098
162  10829  ANT-MAN/DR. HENRY J.      NaN    1077
61   10577  CYCLOPS/SCOTT SUMMER      NaN    1070
41   10557  SHE-HULK/JENNIFER WA      NaN    1064
50   10566  ANGEL/WARREN KENNETH      NaN    1064
45   10561  STORM/ORORO MUNROE S      NaN    1062
21   10530  HULK/DR. ROBERT BRUC      NaN    1048
366  11557   BLACK KNIGHT V/DANE      NaN    1042
37   10553  WONDER MAN/SIMON WIL      NaN    1022
140  10774  COLOSSUS II/PETER RA      NaN    1015
347  11469   SHADOWCAT/KATHERINE      NaN    1001
44   10560  MARVEL GIRL/JEAN GRE      NaN     998
166  10843  HERCULES [GREEK GOD]      NaN     983
14   10521  SUB-MARINER/NAMOR MA      NaN     972
205  10953  DAREDEVIL/MATT MURDO      NaN     960
109  10706     JAMESON, J. JONAH      NaN     914
214  10994   DR. DOOM/VICTOR VON      NaN     892
33   10542  QUICKSILVER/PIETRO M      NaN     868
283  11269    GAMBIT/REMY LEBEAU      NaN     867
281  11263  NIGHTCRAWLER/KURT WA      NaN     852
12   10504               ROGUE /      NaN     822
152  10804   MAGNETO/MAGNUS/ERIC      NaN     764
288  11289  QUASAR III/WENDELL V      NaN     727
0    10472  BLACK PANTHER/T'CHAL      NaN     704
86   10656     CRYSTAL [INHUMAN]      NaN     697
43   10559  PSYLOCKE/ELISABETH B      NaN     688
16   10525    NOVA/RICHARD RIDER      NaN     671
29   10538  SILVER SURFER/NORRIN      NaN     663
101  10689        ROBERTSON, JOE      NaN     638

In [7]:
aristas = pd.read_csv("Aristas.csv")
aristas

        Source  Target        Type      Id  Label  timeset  Weight
0        10470   10476  Undirected  257707    NaN      NaN       1
1        10470   10613  Undirected  257708    NaN      NaN       1
2        10470   10625  Undirected  257706    NaN      NaN       1
3        10470   10827  Undirected  257710    NaN      NaN       1
4        10470   11508  Undirected  251494    NaN      NaN       1
...        ...     ...         ...     ...    ...      ...     ...
178110   20935   10953  Undirected  402178    NaN      NaN       1
178111   20935   11835  Undirected  402182    NaN      NaN       1
178112   20935   14465  Undirected  402181    NaN      NaN       1
178113   20935   18504  Undirected  402177    NaN      NaN       1
178114   20935   18505  Undirected  402180    NaN      NaN       1

[178115 rows x 7 columns]

In [14]:
nodos = nodos.drop(["timeset"], axis=1)
nodos.head()
nodos = nodos.sort_values('Degree', ascending = False)
nodos

KeyError: "['timeset'] not found in axis"

In [ ]:
first1000 = nodos[0:1000]
first1000

In [6]:
names = first1000['Label']
id = first1000['Id']
degree = first1000['degree']

In [17]:
aristas['Source'][423]

10476

In [22]:
# 10476 in first1000['Id']
first1000['Id'][1]

KeyError: 1

In [11]:
filterA = pd.DataFrame()
for a in aristas['Source']:
    if (a in first1000['Id']):
        print(a)
#         filterA.append(a)

In [8]:
aristas = pd.read_csv("Aristas2.csv")
aristas.head()

   Source  Target        Type      Id  Label  timeset  Weight
0   10470   10476  Undirected  257707    NaN      NaN       1
1   10470   10613  Undirected  257708    NaN      NaN       1
2   10470   10625  Undirected  257706    NaN      NaN       1
3   10470   10827  Undirected  257710    NaN      NaN       1
4   10470   11508  Undirected  251494    NaN      NaN       1

In [15]:
aristas['Source'][423]

10476